body {
    font-family: Arial, sans-serif;
    background-color: white;
    background-size: cover;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.side-bar {
    background-color: #F5B7D8;
    padding: 20px;
    width: 250px;
}

.side-bar h2 {
    color: white;
    margin-bottom: 20px;
}

.side-bar p {
    color: black;
    text-align: justify;
}

.content {
    flex: 1;
    padding: 20px;
}

header {
    background-color: #0F0587;
    padding: 10px;
    color: white;
    font-size: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header-menu li {
    margin-left: 20px;
}

nav {
    margin:auto;
}

.quote {
    font-style: italic;
}

footer {
    background-color: #0F0587;
    padding: 10px;
    margin-top: 40px;
    color: white;
    text-align: center;
    font-size: 18px;
}

a {
    color: white;
}

h1 {
    color: #d9534f;
    font-size: 32px;
    margin-bottom: 20px;
}

h2 {
    color: #192284;
    font-size: 30px;
    margin-bottom: 10px;
}
h3 {
	color:black;
	text-shadow: 2px 2px 4px pink;
	margin: 0 auto;
	font-size: 19px;
	margin-bottom: 10px;
	margin-top: 10px;
}

p {
    color: black;
    font-size: 16px;
    margin-bottom: 18px;
    text-align: justify;
}

.spacing {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.block {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: left;
}

.color-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.color-item {
    flex: 1;
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

div.transbox {
    margin: 30px;
    background-color: #B6B0BC;
    border: 1px solid black;
    opacity: 0.8;
}

li a:hover {
    background-color: #555;
    color: white;
}

.food-type {
           width: 30%;
    margin-right: 2%;
        }
 .food-container {
                display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    flex-direction: row; 
            }

.img-container img {
        width: 100%; 
    height: 200px; 
    object-fit: cover;
}
    .img-content {
        padding: 10px;
    }